<article class="post">
  <div class="title">
    <a href="{{link}}" target="_blank"> {{repo}} </a>
    <span>({{link}})</span>
  </div>
  <p>{{description}}</p>
  <div class="meta">
    <div style="background-color: {{languageColor}};">Language: {{language}} </div>
  </div>
</article>